.top-buttons, .chart-buttons {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  flex-wrap: wrap;
  width: 100%;
}
.button-container {
  display: flex;
  align-items: center;
  margin: 5px;
}
.chart-parameter, .chart-date {
  background-color: white;
  color: white;
  border: 2px solid black;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  cursor: pointer;
  flex-shrink: 0;
}
.chart-parameter.active, .chart-date.active {
  background-color: #4CAF50;
}
#closeButton, #getCSVButton {
  width: 50%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  position: absolute;
  bottom: 0;
}
#closeButton {
  left: 0;
  background-color: greenyellow; /* Red */
  border: 1px solid #000; /* Black border */
  color: black;
}
#getCSVButton {
  right: 0;
  background-color: #008CBA; /* Blue */
  border: 1px solid #000; /* Black border */
  color: black;
}
.label {
  margin-left: 10px;
  font-size: 11;
  color: black;
}
#curveCanvas {
  width: calc(100% - 60px); /* Adjust the margin */
  height: 100%;
  border: 1px solid #000000;
  margin: 0 50px; /* Increase margin to 10px on both sides */
}

   /* Your CSS styles */
   #overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1001; 
    /* Ensure overlay is above other elements */
  }
  #canvasContainer4 {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 100%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    display: none;
    z-index: 1002;
  /* Ensure canvasContainer4 is above the overlay */
    overflow: hidden;
  }

  #canvas4 {
    width: 100%;
    height: calc(100% - 80px);
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  /* CSS for scaling down buttons and adjusting layout */
  @media (max-height: 550px) {
    button.chart-parameter,
    button.chart-date {
      width: 10px;
      /* Adjust width */
      height: 10px;
      /* Adjust height */
      font-size: 10px;
      /* Adjust font size */
      padding-bottom: 0px;
      /* Remove padding */
      border-radius: 50%;
      /* Ensure buttons are circular */
      margin-top: 10px;
      /* Reduce margin */
    }

    .label {
      font-size: 11px;
      /* Adjust font size */
    }

    #canvasContainer4 {
      position: fixed;
      top: 50%;
      left: 50%;
      width: 95%;
      height: 100%;
      transform: translate(-50%, -50%);
      padding: 0px;
      /* Reduce padding */
      background-color: white;
      /* Ensure background color covers the screen */
      box-sizing: border-box;
      z-index: 1002;
      /* Ensure it appears above other elements */
    }

    #curveCanvas {
      width: 95%;
      height: calc(100% - 80px);
      /* Adjust height considering padding and buttons */
      margin-top: -10px;
      margin-bottom: -5px;
    }

    /* Adjust buttons in topCanvas and bottomCanvas */
    #topCanvas .buttonTop,
    #bottomCanvas .buttonBottom {
      width: 15px;
      /* Adjust width */
      height: 15px;
      /* Adjust height */
      margin-top: -10px;
      /* Reduce margin */
      font-size: 10px;
      /* Adjust font size */
      padding: 0;
      /* Remove padding */
      border-radius: 50%;
      /* Ensure buttons are circular */
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .chart-buttons {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2px;
      margin-top: -10px;
      /* Add spacing between buttons */
    }
    .top-buttons{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2px;
      margin-top: -10px;
    }

    #buttonContainer {
      display: flex;
      justify-content: center;
      gap: 10px;
      /* Add spacing between buttons */
      margin-top: 0px;
      /* Reduce margin */
    }

    #closeButton,
    #getCSVButton {
      width: 50%;
      /* Adjust width */
      height: 20px;
      /* Adjust height */
      font-size: 10px;
      /* Adjust font size */
      padding-bottom: 0px;
      /* Adjust padding */
/*        border-radius: 5px;*/
      /* Adjust border radius */
      display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 250px;
    }

    .explanation {
      padding: 5px;
      font-size: 8px;
    }
    .legend {
      font-size: 8px;
    }
    .legend h4 {
      font-size: 8px;
    }
    .legend span {
      width: 5px;
      height: 5px;
    }
    #returnButton{
      width: 50px;             
      height: 25px;             
      border: 2px solid #000;   
      border-radius: 5px;       
      background-color:rgb(205, 205, 187);  
      color: black;           
      padding-left: 2px;
      padding-right: 2px;
      font-size: 10px;
    }
  }
