body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.layer-control {
  position: absolute;
  right: 53px;
  bottom: 30px;
  max-width: 400px;
  padding: 8px;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgb(0 0 0 / 30%);
  background: #fff;
  display: flex;
  justify-content: center;
  z-index: 2;
}

.map-style {
  width: 48px;
  height: 60px;
  border-radius: 10px;
  margin: 5px;
}

.map-style:hover {
  cursor: pointer;
}

.map-style img {
  border-radius: 10px;
}

.map-style .text {
  font-size: 12px;
  font-family: Arial, sans-serif;
  color: #333;
  margin: 2px;
  text-align: center;
}