
    /* Define styles for the popup */
    .popup {
        display: none; 
        position: fixed;
        top: 40%; 
        left: 65%; 
        transform: translate(-50%, -50%);
        width: 600px;
        height: 500px;
        background-color: white;
        border: 1px solid #ccc;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 999;
        flex-direction: column;
        align-items: center;
    }

    /* CSS rule targeting all button elements */
    button {
        width: 75px; 
        height: 40px; 
        border: none;
        background-color: white;
        cursor: pointer;
    }
    
       .popup-buttons {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        font-size: 16px 
    }  
    .popuptext {
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 0px;
        padding-bottom: 0px;

    }

    .closebutton {
        margin-left: 370px;
        margin-bottom: 5px;
        background-color: rgba(211, 192, 192, 0.89)


    }

    .goBackButton {
        border: 2px solid white; 
        padding: 0px 0px; 
        background-color: white; 
        color: blue; 
        font-size: 20px; 
        cursor: pointer; 
        width: 150px;
    }

    .popup-buttons button {
        width: 100px; 
        height:75px; 
        border: 2px solid;
        justify-content: center;
        border-color: rgb(0, 4, 255);
        font-size: 14px; 
        margin-left: 10px; 
        margin-top: 2px;
        margin-bottom: 2px;
        background-color: white;
    }
    canvas {
        width: 100%;
     /*   height: calc(100% - 50px); Adjust canvas height */ 
        border: 1px solid black;
    }

/* Define CSS rules for positioning the button */
.Room-one {
    position: absolute;
    top: 320px; 
    left: 550px; 
    transform: translateX(-50%); 
    color: red;
}

    /* Define CSS rules for positioning the button */
    .Room-two {
        position: absolute;
        top: 320px; 
        left: 675px; 
        transform: translateX(-50%); 
        color: red;
    }

    /* Define CSS rules for positioning the button */
    .Room-three {
        position: absolute;
        top: 410px; 
        left: 550px; 
        transform: translateX(-50%); 
        color: red;
    }

    /* Define CSS rules for positioning the button */
    .Room-four {
        position: absolute;
        top: 410px; 
        left: 675px;
        transform: translateX(-50%);
        color: red;
    }

    /* Define CSS rules for positioning the button */
    .Room-five {
        position: absolute;
        top: 500px; 
        left: 550px;
        transform: translateX(-50%); 
        color: red;
    }

    /* Define CSS rules for positioning the button */
    .Room-six {
        position: absolute;
        top: 500px; 
        left: 675px; 
        transform: translateX(-50%); 
        color: red;
    }

    /* Style the anchor tag to look like a button */
    .return-button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    /* Style for hover effect */
    .return-button:hover {
        background-color: #0056b3;
    }
